<ul class="list-group">
  {% for comment in comments %}
  {% if moderate or not comment.disabled %}
    <li>
      <div class="card text-dark bg-light mb-3" style="border: none;">
        <div class="row g-0">
          <div class="col-md-1">
            <img src="{{comment.author.gravatar()}}" class="img-fluid rounded-start" alt="profile-img">
          </div>
          <div class="col-md-auto">
            <div class="card-body">
              {{comment.body_html | safe}}
              <p class="card-text"><small class="text-muted">
                  {{ comment.author.username }},
                  {{ format_relative_time(comment.timestamp) }} ago.
                    {% if moderate %}
                    {% if comment.disabled %}
                      <a href="{{url_for('.moderate_enable', id=comment.id)}}"><button type="button" class="btn btn-success">Enable</button></a>
                    {% else %}
                      <a href="{{url_for('.moderate_disable', id=comment.id)}}"><button type="button" class="btn btn-danger">Disable</button></a>
                    {% endif %}
                    <a href="{{url_for('.delete_comment', id=comment.id)}}"><button type="button" class="btn btn-danger">Delete</button></a>
                  {% endif %}
                  
                </small></p>
            </div>
          </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}

</ul>