{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}
{% import "_macros.html" as macros %}

{% block container %}
{{super()}}
<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <h1>Hello!
            {% if current_user.is_authenticated %}
            {{ current_user.username }}
            {% else %}
            Stranger
            {% endif %}
        </h1>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-9">
        <div>
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
            {{ render_form(form) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-7">
        {% if current_user.is_authenticated %}
        <ul class="nav nav-tabs">
            {% if not show_followed %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('.show_all')}}">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('.show_followed')}}">Followed</a>
            </li>
          
            {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('.show_all')}}">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('.show_followed')}}">Followed</a>
            </li>
          
            {% endif %}
          </ul>
          {% endif %}
        {{ macros.post_links(posts=posts, show_followed=show_followed, current_user=current_user, format_relative_time=format_relative_time) }}
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-7">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
</div>
{% endblock %}